<!--Navigation-->

		<div id="menu-wrapper">
			<nav id="menu" class="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{% url 'flight:index' %}">Home</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
								<div class="dropdown-menu">
									<div class="dropdown-inner">
										<ul class="list-unstyled">

                      {% if user.is_authenticated %}
                        <li><a href="{% url 'flight:crew-detail' pk=user.id%}">User: {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                      {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                      {% endif %} <br>
										</ul>
									</div>
								</div>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Category</a>
								<div class="dropdown-menu" style="margin-left: -203.625px;">
									<div class="dropdown-inner">
										<ul class="list-unstyled">
											<li><a href="{% url 'flight:flight-list' %}">Our flights</a></li>
											<li><a href="{% url 'flight:aircraft-list' %}">Our fleet</a></li>
											<li><a href="{% url 'flight:crew-list' %}">Our crew</a></li>
										</ul>
										<ul class="list-unstyled">
											<li><a href="{% url 'flight:route-list' %}">Our destinations</a></li>
											<li><a href="{% url 'flight:design-bureau-list' %}">All design bureaus</a></li>
											<li><a href="{% url 'flight:position-list' %}">All positions</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li><a href="{% url 'flight:archive' %}">Blog</a></li>
							<li><a href="{% url 'flight:contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
