{% extends "base.html" %}

{% block content %}
  <h1>
    Our crew
    <a href="{% url 'flight:crew-create' %}" class="btn btn-success link-to-page" style="margin-left: 20px">
      Create
    </a>
  </h1>
  {% if crewmember_list %}

    <table class="table">
      <tr>
        <th>Full name</th>
        <th>Position</th>
        <th>{# Update #}</th>
        <th>{# Delete #}</th>
      </tr>

      {% for crew in crewmember_list %}
        <tr>
          <td>
            <a href="{% url 'flight:crew-detail' pk=crew.id%}">{{ crew.first_name }} {{ crew.last_name }}</a>
          </td>
          <td>{{ crew.position }}</td>
          <td>
            <a href="{% url 'flight:crew-update' pk=crew.id %}" class="btn btn-secondary link-to-page">Update</a>
          </td>
          <td>
            <a href="{% url 'flight:crew-delete' pk=crew.id %}" class="btn btn-danger link-to-page">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There is no one hired yet.</p>
  {% endif %}

{% endblock %}
