{% extends "base.html" %}

{% block content %}
  <div class="custom-margin">
  <h1>
    {{ crewmember.first_name }} {{ crewmember.last_name }}
    <a href="{% url 'flight:crew-update' pk=crewmember.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'flight:crew-delete' pk=crewmember.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  <table class="table" style="width: 40%">
    <tr>
      <td><b>Username</b></td>
      <td>{{ crewmember.username }}</td>
    </tr>
    <tr>
      <td><b>Position </b></td>
      <td>{{ crewmember.position }}</td>
    </tr>
    <tr>
      <td><b>License</b></td>
      <td>{{ crewmember.license_number }}</td>
    </tr>
  </table>
  <br>

  {% if crewmember.flights.all %}
    <h3>Scheduled flights:</h3>

    <table class="table">
      <tr>
        <th>Departure time</th>
        <th>Itinerary</th>
        <th>Flight number</th>
        <th>{# Update #}</th>
        <th>{# Delete #}</th>
      </tr>

      {% for flight in crewmember.flights.all %}
        <tr>
          <td>{{ flight.departure|date:'d M Y, H:i' }}</td>
          <td><a href="{% url 'flight:route-detail' pk=flight.route.id%}">{{ flight.route }}</a></td>
          <td><a href="{% url 'flight:flight-detail' pk=flight.id%}">{{ flight.number }}</a></td>
          <td><a class="btn btn-secondary" href="{% url 'flight:flight-update' pk=flight.id%}">Update</a></td>
          <td><a class="btn btn-danger" href="{% url 'flight:flight-delete' pk=flight.id%}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No scheduled flight yet. </p>
  {% endif %}
  </div>

{% endblock %}
