{% extends "base.html" %}

{% block content %}
  <h1>
    <b>Flight</b> {{ flight.number }}
    <a href="{% url 'flight:flight-update' pk=flight.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'flight:flight-delete' pk=flight.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>
  <h5><b>From</b> {{ flight.route.departure_airport }}</h5>
  <h5><b>To</b> {{ flight.route.arrival_airport }}</h5>
  <h5><b>Inflight time</b> {{ flight.route.duration }}</h5>
  <br>

  {% if flight.crew.all %}
    <h3>Crew on this flight:</h3>
      {% for crew in flight.crew.all %}
        <li>
          <a href="{% url 'flight:crew-detail' pk=crew.id%}">{{ crew.first_name }} {{ crew.last_name }}</a> - {{ crew.position.title }}
        </li>
      {% endfor %}
    {% else %}
    <p>Crew has not been set yet</p>
  {% endif %}

{% endblock %}
