{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>iTravel | All flights</title>
{% endblock %}

{% block content %}
  <div class="custom-margin">
  <h1>
    Timetable
    <a href="{% url 'flight:flight-create' %}" class="btn btn-success link-to-page" style="margin-left: 20px">
      Add new flight
    </a>
  </h1>

  <form action=""method="get">
    {{ search_form|crispy }}
  </form>

  {% if flight_list %}

    <table class="table">
      <tr>
        <th>Flight number</th>
        <th>Departure time</th>
        <th>Itinerary</th>
        <th>{# Delay_status #}</th>
        <th>{# Update #}</th>
        <th>{# Delete #}</th>
      </tr>

      {% for flight in flight_list %}
        <tr>
          <td>
            <a href="{% url 'flight:flight-detail' pk=flight.id%}">{{ flight.number }}</a>
          </td>
          <td>{{ flight.departure|date:'d M Y, H:i' }}</td>
          <td>
            <a href="{% url 'flight:route-detail' pk=flight.route.id%}">{{ flight.route }}</a>
          </td>
          <td>{% if flight.is_delayed %} <span style="color: red">Delayed</span>{% endif %}</td>
          <td>
            <a href="{% url 'flight:flight-update' pk=flight.id %}" class="btn btn-secondary link-to-page">Update</a>
          </td>
          <td>
            <a href="{% url 'flight:flight-delete' pk=flight.id %}" class="btn btn-danger link-to-page">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There is no one hired yet.</p>
  {% endif %}
  </div>

{% endblock %}
